src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6953a259-b189-4448-83da-a581d6410a39" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<os:object-store name="Object_store" doc:name="Object store" doc:id="1d55e800-98fe-4efb-855d-d7bb4d892bf6" maxEntries="100" entryTtl="5" entryTtlUnit="HOURS" expirationInterval="5" expirationIntervalUnit="HOURS"/>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="5a2cb418-36ec-43e4-a101-57594834cc2c" >
		<db:generic-connection url="jdbc:postgresql://ec2-52-44-13-158.compute-1.amazonaws.com:5432/dbqo2nk2cap7te?sslmode=require" driverClassName="org.postgresql.Driver" user="ggjzicckmewubd" password="a8b694205d7e8f72f9c08309fab2aab5ff8388ad59a1a56a8803e0591fc3133d" />
	</db:config>
	<flow name="getCustomers" doc:id="70113d98-c501-4938-89b6-811d7fc5f8ab" >
		<os:retrieve-all-keys doc:name="Retrieve all keys" doc:id="13b40671-5c58-407a-ab62-228042293c75" objectStore="Object_store"/>
		<set-variable value="" doc:name="List" doc:id="e5ddb24d-0ab6-4dfd-b4ef-01d9e9f8700a" variableName="list"/>
		<foreach doc:name="For Each" doc:id="a969069d-b0cd-454b-b973-733576fb94af" >
			<set-variable value="#[payload]" doc:name="Key" doc:id="49a5790e-db49-4e76-a9e5-cff82508cbe3" variableName="vKey"/>
			<os:retrieve doc:name="Retrieve" doc:id="12e9f1b1-46c6-431e-a7eb-a8439e819968" key="#[vars.vKey]" objectStore="Object_store">
				<os:default-value ><![CDATA[No data.]]></os:default-value>
			</os:retrieve>
			<ee:transform doc:name="Update List" doc:id="93c8b3b9-cfa7-491b-99e7-530828748329">
				<ee:message>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="list" ><![CDATA[%dw 2.0
output application/json
import java!java::lang::System

var new = {
    Customer: payload.ID,
    Details: {
        Name: payload.firstName,
        Age: payload.age,
        Address: payload.address.streetAddress
	}
}
---
vars.list ++
"Customer -  " ++ payload.firstName ++ " " ++ payload.lastName ++ ", "]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="1d2e6d85-9b7d-47f5-8ef4-ec3e45c4af99" message="#[payload]"/>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="cd654663-8bfd-4a65-936d-37aa86d8c8bc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.list]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getCustomerByID" doc:id="67cbd7af-2cbd-495d-b696-2decbed13f8b" >
		<os:retrieve doc:name="Retrieve" doc:id="b9e98b73-7ae6-4276-80b5-3d286ff4fdf6" key="#[attributes.uriParams.ID]" objectStore="Object_store">
			<os:default-value ><![CDATA[#["Key not found."]]]></os:default-value>
		</os:retrieve>
		<logger level="INFO" doc:name="Logger" doc:id="c3a727ad-2529-4a91-8bd6-91096a3c0f22" message="#[payload]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="21ad34d4-5842-434b-bd6f-b8a5c0e0742d" type="OS:KEY_NOT_FOUND" >
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="0e3cca43-2890-4c07-a91d-6f344a11078d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{message: "Key Not Found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[406]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="postCustomer" doc:id="b24b2053-b82a-4896-af9a-fd93df569208" >
		<os:store doc:name="Store" doc:id="f35d018f-070f-4c98-9900-7570f8cec6d3" key="#[payload.id]" objectStore="Object_store" failIfPresent="true"/>
		<logger level="INFO" doc:name="Logger" doc:id="2367e782-7ec7-4592-85c6-7b409497f45c" message="#[payload]" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f5e1e927-edb8-461e-8adf-034a65e752ce" type="OS:KEY_ALREADY_EXISTS" >
				<ee:transform doc:name="Transform Message" doc:id="c95af529-8a0c-465d-a3a7-f8022a1495cf" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{message: "Key Already Exists"}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[406]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="deleteCustomer" doc:id="44f51a81-9f66-403b-b6f8-754dcfb08f48" >
		<os:remove doc:name="Remove" doc:id="99eb0398-7df4-4fdb-86c8-d2075a193e42" key="#[attributes.uriParams.ID]" objectStore="Object_store">
			<error-mapping sourceType="OS:INVALID_KEY" targetType="APIKIT:KEY_NOT_FOUND" />
		</os:remove>
		<logger level="INFO" doc:name="Logger" doc:id="fe3439ed-a1bd-42a0-9c4d-1658381f0be0" message='#["Deleted"]'/>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="28c48d27-a1d2-412f-8d35-939668c447d8" type="OS:KEY_NOT_FOUND" >
				<ee:transform doc:name="Transform Message" doc:id="c8954eee-32fc-4ce4-a0c2-5cc515eeedb1" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{message: "Key Not Found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[406]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="updateCustomer" doc:id="df266653-126a-4dd7-8b84-485b4a24a586" >
		<http:listener doc:name="Listener" doc:id="9cce2142-d2f2-40e3-be2d-f6daf56d826b" config-ref="HTTP_Listener_config" path="/post" />
		<flow-ref doc:name="Delete Flow" doc:id="73b2b62e-366a-4236-8ac8-81b86ae1528e" name="deleteCustomer"/>
		<flow-ref doc:name="Store Flow" doc:id="30c0d2e6-45f2-4904-8cf8-bc636ad2c3ae" name="postCustomer"/>
		<logger level="INFO" doc:name="Logger" doc:id="34a82f28-6725-40eb-87b6-ccea1efed863" message='#[payload]' />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="2f59b950-f9b7-4fcd-8dbc-3b7c8cbecf38" type="OS:KEY_NOT_FOUND" >
				<ee:transform doc:name="Transform Message" doc:id="879b7f12-c9e8-4276-aa0c-4fec2baef4dd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{message: "Key Not Found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[406]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="getCustomers-db" doc:id="27427cb0-4ae7-4ac8-a45e-0a7c89f8cbbe" >
		<db:select doc:name="Select" doc:id="304d13e2-cdbb-4f53-afa9-79b31dfdba31" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM customers;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="c5c8dbe8-9113-4270-b728-91ed02854c60" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="postCustomer-db" doc:id="c03b03b9-c18f-437b-bafe-40361e993553" >
		<db:select doc:name="Select" doc:id="e5bcb163-20d2-4a9e-bccd-32815bb96e85" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT * FROM customers;
INSERT INTO customers (id, first_name, last_name, age, street_address, city_address, state_address, postal_code)
VALUES (:id, :fname, :lname, :age, :street, :city, :state, :code);]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: payload.id,
	fname: payload.firstName,
	lname: payload.lastName,
	age: payload.age,
	street: payload.address.streetAddress,
	city: payload.address.city,
	state: payload.address.state,
	code: payload.adress.postalCode
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="95b39eb8-13ef-49e9-a91c-e08a1b6e404f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="updateCustomer-db" doc:id="f589a81d-06cd-4eb8-982e-e2eb87108061" >
		<db:select doc:name="Select" doc:id="be8b716a-878b-4aac-902c-c410e948ca94" config-ref="Database_Config" >
			<db:sql ><![CDATA[UPDATE customers SET 
first_name = :fname,
last_name = :lname,
age = :age,
street_address = :street,
city_address = :city,
state_address = :state,
postal_code = :code
WHERE id = :id;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: attributes.queryParams.ID,
	fname: payload.firstName,
	lname: payload.lastName,
	age: payload.age,
	street: payload.address.streetAddress,
	city: payload.address.city,
	state: payload.address.state,
	code: payload.adress.postalCode
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="191de717-f004-4531-8a31-3bf6b1d4449e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="deleteCustomer-db" doc:id="005deea6-392d-43d5-b25d-4ec040243980" >
		<db:select doc:name="Select" doc:id="7aad5c56-be40-4172-937e-290b5f2d9674" config-ref="Database_Config" >
			<db:sql ><![CDATA[DELETE FROM customers where id = :id;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: attributes.queryParams.ID
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="84fe4d4d-ba69-4701-a414-11c8daa8f339" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getCustomerByID-db" doc:id="c0c9d9b1-911e-477e-bd0a-fb4fad81d30c" >
		<db:select doc:name="Select" doc:id="8e2c4324-aca7-4be6-9f93-56f135964ac6" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT * FROM customers where id = :id;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: attributes.uriParams.ID
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="3f7b4956-db05-4742-920c-97cc40e3b1a4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
